

body{
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Poppins', sans-serif;
   background-color: #f0f2f6;
   font-size: 0.85rem;
 }

.wrapper{ 
   padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .loginForm{
    margin-top: 10px;
    background-color: #fff;
    border-radius: 0.25rem;
    width: 29%;
    padding: 25px;
    padding-top: 40px;
    box-shadow: 0px 2px 4px rgba(98, 125, 152, 0.1), 0px 4px 6px rgba(98, 125, 152, 0.14);
    // min-height: 250px;
  }
  .form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  input{
    padding: 10px;
    border: none;
    border: 1px solid #ced4da;
  }
  label{
    margin-bottom: 5px;
    font-size: 0.85rem;
  }
  .login--btn{
    border: none;
    background: #2C74DA;
box-shadow: 0px 2px 4px rgba(98, 125, 152, 0.1), 0px 4px 6px rgba(98, 125, 152, 0.14);
border-radius: 4px;
padding: 10px;
color: #fff;
margin-top: 10px;
cursor: pointer;
  }