// select course style
// .course__container{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }
.course__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px; 
}
.course__message{
    font-size: 1.05rem;
    margin-bottom: 20px;
}
.mycourses{
    margin-top: 20px;
    font-size: 1rem;
    text-decoration: underline;
    color: #2C74DA;
}
.header--text{
    margin-bottom: 30px;
    font-size: 0.9rem;
}
.delete{
    display: flex;
}
.delete--group-btn{
    background-color: #FFF;
    border: none;
}
.fa-pencil:hover,.fa-trash-can:hover{
    background-color: grey;
    padding: 3px;
    border-radius: 50%;
}
.student:hover .delete--group-btn{
    background: #F0F4F8;
  
}
.add--student{
    margin-left: 15px;
}
.hide--text{
    visibility: hidden;
}
.submissions{
    color: #2C74DA;
    text-decoration: underline;
}
.deadline{
    margin-left: 10px;
}
.entity-info{
    font-weight: 400 !important;
    font-size: 0.75rem !important;
}

.view--btn{
    border: none;
    background-color: #fff;
    color: #2C74DA;
    text-decoration: underline;
    cursor: pointer;
  
}
.form-group > textarea{
    resize: none;
}
.extra--text{
    flex: 0.5  !important;
    font-size: 0.8rem;
    font-weight: 550;
    overflow: hidden !important;
    text-overflow: ellipsis !important; 
  
}