.create--course{
    display: flex;
    justify-content: flex-end;
}
.create--btn,.submit--btn,.edit--btn,.cancel--btn{
    background: #2C74DA;
    border: none;
    color: #fff;
    box-shadow: 0px 2px 4px rgba(98, 125, 152, 0.1), 0px 4px 6px rgba(98, 125, 152, 0.14);
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}
.btn__container{
    display: flex;
    justify-content: flex-end;
}
.submit--btn{
    width: 30%;
    
}
.admin--welcome{
    margin-top: 20px;
    line-height: 25px;

}
.admin--welcome > h2 {
    margin-bottom: 10px;
}
.courseForm{
    margin-top: 35px;
}
.form--term{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form--input{
    width: 47%;
}
.form--input select{
    width: 100%;
    border-radius: 5px;
}
.form--input input{
    border-radius: 5px;
    width: 90%;
}
// label{
//     display: block;
// }
input,select{
    padding: 10px;
    border: none;
    border: 1px solid #ced4da;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: capitalize;
  }
//   .instructor--names{
//       padding: 15px !important;
//       margin-bottom: 7px !important;
//   }
//   .select--instructor{
//       text-transform: capitalize;
//   }
.alert-danger,.success{
    color: red;
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
}
.success{
    color: green;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

//   course display style
// .courses__list{
//     background-color: #fff;
// }
.courses__list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    
}
.courses{
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(98, 125, 152, 0.1), 0px 4px 6px rgba(98, 125, 152, 0.14);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-right: 25px;
    margin-bottom: 15px;
}
.courseName{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 7px;
    text-transform: capitalize;
}
p{
    margin-bottom: 8px;
    font-weight: 600;
}
.courseInstructors{
    margin-bottom: 10px;
    margin-top: 20px;
    text-transform: capitalize;
}
.options{
   
    display: flex;
    align-items: center;
}
i{
    font-size: 1.1rem;
    margin-right: 10px;
    cursor: pointer;
}
.fa-pencil:hover,.fa-trash-can:hover{
    background-color: grey;
    padding: 7px;
    border-radius: 50%;
}


.course__edit{
    border: 2px solid #ebeef3;
    background-color: #fff;
    margin: 30px 0 0 45px;
    width: 80%;
   
}
.edit__header{
    background-color: rgb(211, 211, 211);
    padding: 20px;
    border-bottom: 1px solid #D9E2EC;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 500;
}
.edit__form{
    padding: 15px;
    margin-top: 15px;
}
.formGroup{
    margin-bottom: 15px;
}
 label{
        display: block;
        margin-bottom: 5px; 
        font-weight: 600 !important; 
}
.formGroup > input{
    width: 95%;
    border-radius: 5px;
}
.submit__button{
    display: flex;
    justify-content: flex-end;
    width: 99%;
}
.edit--btn,.cancel--btn{
    width: 10%;
}
.cancel--btn{
    background-color: red;
    margin-left: 10px;
}
